/*Paleta de colores*/
header {
  background-color: #9a9ce9; }
  header nav div a {
    display: flex;
    justify-content: end; }

a {
  font-size: 18px; }
  a:hover {
    font-weight: bold; }
  a img {
    height: 88px;
    padding-right: 600px; }

.navbar-nav {
  display: flex;
  align-items: flex-end; }

/*titulos*/
main {
  font-family: Georgia, 'Times New Roman', Times, serif; }
  main div h1 {
    font-size: 24px; }

/*footer*/
footer {
  background-color: #85496f;
  height: 200px; }
  footer div button {
    margin-top: 44px; }

body {
  background-color: #f2f2f2; }

div h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 24px;
  margin: 16px; }

.card-ing {
  margin-top: 88px;
  margin-bottom: 48px;
  display: flex;
  align-items: center; }

.card-pro {
  margin-bottom: 88px;
  display: flex;
  align-items: center; }

/*mixin*/
.inicio, .cardTitle, h1 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  color: #555; }

/*extend*/
.cardTitle {
  font-size: 24px;
  text-align: left; }

/*mapa*/
form {
  background-color: #c4c4c4;
  align-items: center;
  margin: 120px; }
