html{
    font-size: 62.5%;
}

body{
    background-color: blanchedalmond;
}
header{
    display: flex; 
    justify-content: end;
    padding-left: 0px;
}
a img{
    height: 88px;
    padding-left: 0%;
    padding-right: 860px;
}
main div h1{
        font-size: 3rem;
        margin-top: 48px;
        text-align: center;
}
.lea{
        margin-top: 100px;
        margin-left: 300px;
        margin-bottom: 100px;
}
    .contenido{
        margin-left: 300px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    form{
        background-color: whitesmoke;
        width: 600px;
        height: 300px;
        margin-left: 240px;
        margin-top: 40px;
        padding: 24px;
    }
    footer{
        padding: 0px;
    }
    .tarjetas{
        padding-top: 100px;
        padding-bottom: 100px;
    }