%letra{
    font-family: 'kalam', cursive;
    font-style: normal;
    font-weight: 500;
    color: $colornegro;
}
%letra2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
}