/*footer*/
footer{
        background-color: $colorfooter;
        a{
            font-size: 18px;
            text-decoration: none;
        }
    }
    section{
        a{
            svg{
                color: #fff;
                &:hover{
                    background-color: rgba(0, 0, 0, 0.2);
                    border-radius: 50px;
            }
        }
    }
    }