body{
    background-color: $colorfondo;
}
div{
    h1{
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        padding: 24px;
        margin: 16px;
    }
}
.ingredientes{
    margin-top: 88px;
    margin-bottom: 88px;
    padding-right: 68px;
    padding-left: 68px;
    display: flex;
    align-items: center;
}
.productores{
    margin-bottom: 88px;
    padding-right: 68px;
    padding-left: 68px;
    display: flex;
    align-items: center;
}
section{
    background-color: lightblue;
    height: 300px;
    div{
        h5{
            font-size: 24px;
            font-weight: 600;
        }
        p{
            font-size: 20px;
        }
    }
}
