/*titulos*/
main{
    font-family: Georgia, 'Times New Roman', Times, serif;
    div{
        p{
            font-size: 20px;
        }
    }
}
h2{
    font-size: 24px;
}
h4{
    font-size: 20;
    font-weight: 400;
}