@import "_colores";
@import "_titulosytipografia";
@import "_extends";
@import "_header";
@import "_footer";
@import "_index";
@import "_productos";
@import "_sucursales";
@import "_nosotros";
@import "_contacto";

h1{
    @extend %letra;
    font-size: 60px;
}
h2{
    @extend %letra2;
    font-size: 24px;
    font-weight: 400;
}
h3{
    @extend %letra2;
    font-size: 28px;
    font-weight: 400;
}
h4{
    @extend %letra2;
    font-size: 24px;
    font-weight: 500;
    color: white;
}
h5{
    @extend %letra2;
    font-size: 24px;
    font-weight: 400;
    font-style: oblique;
}